*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -o-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    overflow: hidden;
}
body{
    background-color: rgb(15, 15, 15);
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: whitesmoke;
    z-index: 9999;
}
#particles-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9999;
}
img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    object-position: bottom;
    padding: 5px;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}