* {
    box-sizing: border-box;
    padding: 0;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; }

.index {
    position: absolute;
    font-weight:800;
    font-size: xx-large;
    color: rgb(230, 230, 230);
}

.ico-twitter { color: rgb(29 161 242); text-decoration: none; font-size: 25px; }
.ico-youtube { color: rgb(255 0 0); text-decoration: none; font-size: 25px; }
.ico-spotify { color: rgb(30 215 96); text-decoration: none; font-size: 25px; }
.ico-steam { color: rgb(42, 71, 94); text-decoration: none; font-size: 25px; }

.ico-twitter:hover { text-shadow: 0 0 6px rgba(255, 255, 255, .6); }
.ico-youtube:hover { text-shadow: 0 0 6px rgba(255, 255, 255, .6); }
.ico-spotify:hover { text-shadow: 0 0 6px rgba(255, 255, 255, .6); }
.ico-steam:hover { text-shadow: 0 0 6px rgba(255, 255, 255, .6); }

.kittyy {color: rgb(230, 230, 230); z-index: 9999; }
.kitty {text-align: center; color: rgb(230, 230, 230); z-index: 9999; }
.kittyimg { border-radius: 150px; width: 25%; height: 25%; opacity: 1;
    object-fit: cover; object-position: bottom; padding: 5px; transition: 0.3s; }
.kittyimg:hover { border-radius: 25px; cursor: pointer; opacity: 1; transition: 0.3s; }

#background { background-color: rgb(15, 15, 15); height: 100%; width: 100%; position: fixed; top:0; left:0; z-index: -9999; }